Halaman data semua karyawan
<hr>
<a href="/karyawan/tambah">
    <button>+ Tambah Karyawan</button>
</a>
<br> <br>

<% if (req.query.success_msg) { %>
    <h3 style="color: green;">&#9989; <%= req.query.success_msg %>
    </h3>
    <% } %>


<%#= JSON.stringify(data_karyawan) %>

    <!-- teknik buka tutup tag ejs -->
    <table border="1">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Gender</th>
                <th colspan="2">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% for( let i=0; i < data_karyawan.length; i++ ) { %>
                <tr>
                    <td>
                        <%= data_karyawan[i].nama %>
                    </td>
                    <td>
                        <%= data_karyawan[i].jenis_kelamin %>
                    </td>
                    <td style="padding: 5px">
                        <a href="/karyawan/detail/<%= data_karyawan[i].id %>">
                            <button>Detail</button>
                        </a>
                    </td>
                    <td style="padding: 5px">
                        <a href="/karyawan/hapus/<%= data_karyawan[i].id %>"
                            onclick="return confirm('hapus karyawan <%= data_karyawan[i].nama %> ?')">
                            <button>Hapus</button>
                        </a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>


    <!-- teknik 1 tag ejs -->
    <%# __append('<ul>')
        for (const i in data_karyawan) {
        __append(`<li>${data_karyawan[i].nama} (${data_karyawan[i].jenis_kelamin})</li>`)
        }
        __append('</ul>')
        %>