<h1>Input karyawan baru</h1>
<hr>
<% if (req.query.error_msg) { %>
    <h3>
        <%= req.query.error_msg %>
    </h3>
    <% } %>


<form action="/karyawan/proses-insert" method="post">
    <div style="margin-bottom: 10px;">
        <label for="">Nama</label>
        <input type="text" name="form_nama">
    </div>

    <div style="margin-bottom: 10px;">
        <label for="">Tanggal lahir</label>
        <input type="date" name="form_tgl_lahir">
    </div>

    <div style="margin-bottom: 10px;">
        <label for="">Jenis kelamin</label>
        <select name="form_gender">
            <option value="" selected>-- pilih --</option>
            <option value="L">Laki</option>
            <option value="P">Perempuan</option>
        </select>
    </div>

    <div style="margin-bottom: 10px;">
        <label for="" style="vertical-align: top;">Alamat</label>
        <textarea name="form_alamat"></textarea>
    </div>

    <div style="margin-bottom: 10px;">
        <label for="">Agama</label>
        <select name="form_agama_id">
            <option value="" selected>-- pilih --</option>
            <% for( let i=0; i < agama.length; i++ ) { %>
                <option value="<%= agama[i].id %>"><%= agama[i].nama %></option>
            <% } %>
        </select>
    </div>

    <div style="margin-bottom: 10px;">
        <label for="">Jabatan</label>
        <select name="form_jabatan_id">
            <option value="" selected>-- pilih --</option>
            <% for( let i=0; i < jabatan.length; i++ ) { %>
                <option value="<%= jabatan[i].id %>">
                    <%= jabatan[i].nama %>
                </option>
                <% } %>
        </select>
    </div>

    <button type="submit">simpan</button>
</form>