<h1>Profil Karyawan</h1>
<% if (profil_karyawan.length> 0) { %>
    <ul>
        <li>Nama: <%= profil_karyawan[0].nama %>
        </li>
        <li>Kelahiran: <%= profil_karyawan[0].tanggal_lahir %>
        </li>
        <li>Gender: <%= profil_karyawan[0].jenis_kelamin %>
        </li>
        <li>Alamat: <%= profil_karyawan[0].alamat %>
        </li>
        <li>Agama: <%= profil_karyawan[0].agama_id %>
        </li>
        <li>Jabatan: <%= profil_karyawan[0].jabatan_id %>
        </li>
    </ul>
    <% } else { %>
        <h2>profil tidak ditemukan</h2>
        <% } %>